<div class="form-group">
    <label for="">Location:</label>
    <input type="text" class="form-control" ng-model="location" placeholder="City, State">
</div>

<button class="btn btn-info" ng-click="getWeather()">Would you like the weather?</button>

<div ng-if = "showWeather">
    <div>
        <p>Location: {{ weatherData.latitude }},{{ weatherData.longitude }}</p>
        <p>Temperature: {{ weatherData.currently.temperature }}</p>
        <p>Precipitation: {{ weatherData.currently.precipProbability }} % chance</p>
        <p>Summary: {{ weatherData.currently.summary }}</p>
    </div>
    <div>
    <!--    <img src="" alt="Weather Icon">-->
    </div>
</div>